<div class="page-header"><h4>Crear cuenta</h4></div>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { role: "form", class: "form-horizontal"}) do |f| %>
  <%= devise_error_messages! %>

  <%= f.label :email %>
  <div class="form-group">
    <div class="col-lg-3">
      <%= f.email_field :email, :class => "form-control", autofocus: true %>
    </div>
  </div>

  <%= f.label :password, "Clave" %>
  <div class="form-group">
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> caracteres mínimo)</em>
    <% end %>
    <div class="col-lg-4">
      <%= f.password_field :password, :class => "form-control", autocomplete: "off" %>
    </div>
  </div>

  <%= f.label :password_confirmation, "Confirmar clave" %>
  <div class="form-group">
    <div class="col-lg-4">
      <%= f.password_field :password_confirmation, :class => "form-control", autocomplete: "off" %>
    </div>
  </div>
  <%= f.submit "Crear cuenta", :class => "btn btn-primary"%>
<% end %>

<br/>

<%= render "devise/shared/links" %>
