<div class="page-header">
  <%= link_to users_path, class: 'btn btn-sm btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Volver
  <% end %>
  <%= link_to @user, class: 'btn btn-sm btn-primary' do %>
    <span class="glyphicon glyphicon-info-sign"></span>
    Ver
  <% end %>
  <h4>Editar Usuario</h4>
</div>
<ol class="breadcrumb">
  <li>
    <%= link_to users_path do %>
        <%= fa_icon "user", text: "Usuarios" %>
    <% end %>
  </li>
  <li class="active">
    Editar Usuario
  </li>
</ol>

<%= render 'form' %>