<div class="page-header">
  <%= link_to new_user_path, class: 'btn btn-primary' do %>
    <%= fa_icon "plus", text: "Nuevo User" %>
  <% end %>
  <h4>Listado de Users</h4>
</div>
<ol class="breadcrumb">
  <li class="active">
    <%= fa_icon "user", text: "Users" %>
  </li>
</ol>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Email</th>
            <th>Último acceso</th>
            <th>IP último acceso</th>
            <th>Cantidad de accesos</th>
            <th>&nbsp;</th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @users) do |user| %>
      <td><%= user.email %></td>
      <td><%= user.last_sign_in_at %></td>
      <td><%= user.last_sign_in_ip %></td>
      <td><%= user.sign_in_count %></td>
      <td style="width: 150px;">
        <%= link_to user, class: 'btn btn-default' do %>
          <span class="glyphicon glyphicon-search"></span>
        <% end %>
        <%= link_to edit_user_path(user), class: 'btn btn-default' do %>
          <span class="glyphicon glyphicon-pencil"></span>
        <% end %>
        <%= link_to user, class: 'btn btn-danger',method: :delete, data: { confirm: '¿Está seguro?' } do %>
          <span class="glyphicon glyphicon-trash"></span>
        <% end %>
      </td>      
      <% end %>
    </tbody>
  </table>
</div>
