<div class="page-header">
  <%= link_to users_path, class: 'btn btn-default' do %>
    <%= fa_icon "list-alt", text: "Volver" %>
  <% end %>
  <h4>Nuevo Usuario</h4>
</div>
<ol class="breadcrumb">
  <li>
    <%= link_to users_path do %>
        <%= fa_icon "user", text: "Usuarios" %>
    <% end %>
  </li>
  <li class="active">
    Nuevo Usuario
  </li>
</ol>

<%= render 'form' %>