<div class="page-header">
  <%= link_to new_tipo_reclamo_path, class: 'btn btn-primary' do %>
    <%= fa_icon "plus", text: "Nuevo tipo de reclamo" %>
  <% end %>
  <h4>Listado de  Tipos de Reclamos</h4>
</div>
<ol class="breadcrumb">
  <li class="active">
    <%= fa_icon "file-o", text: "Tipos de reclamos" %>
  </li>
</ol>

<div class="well">
  <%= link_to "#{tipo_reclamos_path}.pdf", class: 'btn btn-danger' do %>
    <%= fa_icon "file-pdf-o", text: "Exportar" %>
  <% end %>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>Nombre</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @tipo_reclamos) do |tipo_reclamo| %>
        <td><%= tipo_reclamo.nombre %></td>
        <td style="width: 150px;">
          <%= link_to tipo_reclamo, class: 'btn btn-default' do %>
            <span class="glyphicon glyphicon-search"></span>
          <% end %>
          <%= link_to edit_tipo_reclamo_path(tipo_reclamo), class: 'btn btn-default' do %>
            <span class="glyphicon glyphicon-pencil"></span>
          <% end %>
          <%= link_to tipo_reclamo, class: 'btn btn-danger',method: :delete, data: { confirm: '¿Está seguro?' } do %>
            <span class="glyphicon glyphicon-trash"></span>
          <% end %>
        </td>     
      <% end %>
    </tbody>
  </table>
</div>
