<div class="page-header">
  <%= link_to tipo_reclamos_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Volver
  <% end %>
  <%= link_to edit_tipo_reclamo_path(@tipo_reclamo), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Editar
  <% end %>
  <h4>Ver Tipo de Reclamo</h4>
</div>
<ol class="breadcrumb">
  <li>
    <%= link_to tipo_reclamos_path do %>
        <%= fa_icon "wpforms", text: "Tipos de reclamos" %>
    <% end %>
  </li>
  <li class="active">
    Ver Tipo de reclamo
  </li>
</ol>

<dl class="dl-horizontal">
  <dt>Nombre:</dt>
  <dd><%= @tipo_reclamo.nombre %></dd>

</dl>
